<div id="home" class="container-fluid p-0">
    <div class="row">
        <div id="side" class="col-md-3">
        </div>
        <div class="col-md-6">
            <p id="sub">スプリントの流れ</p>
            <div class="app">
                <p>進捗: <button id="up">進める</button> <button id="down">戻す</button></p>
            </div>
            <ul class="stepflow">
                <li>
                    <div class="stepflow-white" id="color1"></div>
                    <div class="stepflow_label">STEP1</div>
                    <button type="button" class="btn btn-light text-left" data-toggle="collapse" data-target="#sprintRunning" aria-expanded="false" aria-controls="sprintRunning">
                        1.スプリントプランニング
                    </button>
                    <div class="collapse m-0" id="sprintRunning">
                        <div class="card card-body">
                            スプリントの作業はスプリントプランニングで計画する。これはスクラムチームの共同作業である。
                            スプリントが 1 か月の場合、スプリントプランニングのタイムボックスは最大で 8 時間である。スプリ
                            ントの期間が短ければ、スプリントプランニングの時間も短くすることが多い。スクラムマスターは、
                            参加者に目的を理解してもらうようにする。スクラムマスターは、スクラムチームにタイムボックスを
                            守るように伝える。
                        </div>
                    </div>
                </li>
                <li>
                    <div class="stepflow-white"  id="color2"></div>
                    <div class="stepflow_label">STEP2</div>
                    <button type="button" class="btn btn-light text-left" data-toggle="collapse" data-target="#dailyScrum" aria-expanded="false" aria-controls="dailyScrum">
                        2.デイリースクラム
                    </button>
                    <div class="collapse m-0" id="dailyScrum">
                        <div class="card card-body">
                            コデイリースクラムとは、開発チームのための 15 分間のタイムボックスのイベントである。スプリントで
                            は、毎日デイリースクラムを開催する。開発チームは、次の 24 時間の作業を計画する。前回のデ
                            イリースクラムから行なった作業の検査と今後のスプリント作業の予想をすることで、チームのコラ
                            ボレーションやパフォーマンスを最適化するのである。デイリースクラムは毎日、同じ時間・場所で
                            開催し、複雑にならないようにする。
                            開発チームはデイリースクラムを使って、スプリントゴールとスプリントバックログの進捗を検査する。
                            デイリースクラムは、開発チームがスプリントゴールを達成する可能性を最適化する。開発チーム
                            は、自己組織化チームとしてスプリントゴールを達成し、スプリント終了までに期待されるインクリメ
                            ントを作成できるかを毎日把握しなければいけない。
                            デイリースクラムの構成は、開発チームが設定する。スプリントゴールを目指している限り、他のや
                            り方で行なっても構わない。質問を使うチームもあれば、議論ベースで進めるチームもある。
                        </div>
                    </div>
                </li>
                <li>
                    <div class="stepflow-white" id="color3"></div>
                    <div class="stepflow_label">STEP3</div>
                    <button type="button" class="btn btn-light text-left" data-toggle="collapse" data-target="#developWork" aria-expanded="false" aria-controls="developWork">
                        3.開発作業
                    </button>
                    <div class="collapse m-0" id="developWork">
                        <div class="card card-body">
                            開発しよう
                        </div>
                    </div>
                </li>
                <li>
                    <div class="stepflow-white" id="color4"></div>
                    <div class="stepflow_label">STEP４</div>
                    <button type="button" class="btn btn-light text-left" data-toggle="collapse" data-target="#sprintReview" aria-expanded="false" aria-controls="sprintReview">
                        4.スプリントレビュー
                    </button>
                    <div class="collapse m-0" id="sprintReview">
                        <div class="card card-body">
                            スプリントレビューとは、スプリントの終了時にインクリメントの検査と、必要であればプロダクトバック
                            ログの適応を行うものである。スプリントレビューでは、スクラムチームとステークホルダーがスプリン
                            トの成果をレビューする。スプリントの成果とプロダクトバックログの変更を参考にして、価値を最適
                            化するために次に何ができるかを参加者全員で話し合う。これはステータスミーティングではなく、
                            略式のミーティングである。インクリメントを提示することで、フィードバックや協力を引き出すことを
                            目的とする。
                            スプリントが 1 か月の場合、スプリントレビューは最大 4 時間である。スプリントの期間が短ければ、
                            スプリントレビューの時間も短くすることが多い。スクラムマスターはスプリントレビューが確実に開
                            催されるようにして、参加者には目的を理解してもらうようにする。スクラムマスターは関係者全員
                            にタイムボックスを守るように伝える。
                        </div>
                    </div>
                </li>
                <li>
                    <div class="stepflow-white" id="color5"></div>
                    <div class="stepflow_label">STEP５</div>
                    <button type="button" class="btn btn-light text-left" data-toggle="collapse" data-target="#sprintRetrospective" aria-expanded="false" aria-controls="sprintRetrospective">
                        5.スプリントレトロスペクティブ
                    </button>
                    <div class="collapse m-0" id="sprintRetrospective">
                        <div class="card card-body">
                            スプリントレトロスペクティブは、スクラムチームの検査と次のスプリントの改善計画を作成する機会
                            である。
                            スプリントレトロスペクティブは、スプリントレビューが終わって、次のスプリントプランニングが始まる
                            前に行う。スプリントが 1 か月の場合、スプリントレトロスペクティブは最大 3 時間である。スプリント
                            の期間が短ければ、スプリントレトロスペクティブの時間も短くすることが多い。スクラムマスターは、
                            このイベントが確実に開催されるようにする。また、参加者に目的を理解してもらうようにする。
                            スクラムマスターは、このミーティングがポジティブで生産的になるようにする。スクラムマスターは、
                            全員にタイムボックスを守るように伝える。スクラムマスターは、スクラムのプロセスを説明するため
                            に、チームメンバーとして参加する。
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="side" class="col-md-3">
            <%= image_tag "footer.png",id: "footer-img" %>
        </div>
    </div>
</div>

<script>
var cnt=0;
document.getElementById("up").onclick = function() {
    if (cnt<=4){
        cnt+=1;
    }else{
    }

    switch(cnt){
        case 0 :
            document.getElementById("color-change").classList.value = "stepflow-black";
                break

        case 1 :
            document.getElementById("color1").classList.value = "stepflow-black";
                break
        
        case 2 :
            document.getElementById("color2").classList.value = "stepflow-black";
                break
        case 3 :
            document.getElementById("color3").classList.value = "stepflow-black";
                break
        case 4 :
            document.getElementById("color4").classList.value = "stepflow-black";
                break
        case 5 :
            document.getElementById("color5").classList.value = "stepflow-black";
                break
    }


        
};

</script>