<div id="home">
  <p>〜スプリントの流れ〜</p>
  <div id="splint">
    <p>1.スプリントプランニング</p>
    <p>↓</p>
    <p>2.デイリースクラム</p>
    <p>↓</p>
    <p>3.開発作業</p>
    <p>↓</p>
    <p>4.スプリントレビュー</p>
    <p>↓</p>
    <p>5.スプリントレトロスペクティブ</p>
  </div>
</div>
