<div id="qa" class="container-fluid p-0">
<div class="row">
    <div id="side" class="col-md-3">
    </div>
    <div class="col-md-6">
        <p id=qa-title>Q&A</p>
        <ul class="cp_list">
        <li>Q.チーム開発をうまくするには？</li>
        <div class="card card-body">
        頑張る
        </div>
        <li>Q.チーム開発をうまくするには？</li>
        <div class="card card-body">
        気合い
        </div>
        <li>Q.チーム開発をうまくするには？</li>
        <div class="card card-body">
        コミュ力
        </div>
        <li>Q.チーム開発をうまくするには？</li>
        <div class="card card-body">
        やっぱりコミュ力
        </div>
        </ul>
    </div>
    <div id="side" class="col-md-3">
        <%= image_tag "footer.png",id: "footer-img" %>
    </div>
</div>

</div>