<div id="qa" class="container-fluid p-0">
<div class="row">
    <div id="side" class="col-md-3">
    </div>
    <div class="col-md-6">
        <p id=qa-title>Q&A</p>
        <ul class="cp_list">
        <li>Q. スプリントプランニングをやらなかった場合、どういった問題が起きますか？</li>
        <div class="card card-body">
        A. スプリントプランニングをしないことにより、今回のスプリントでどれだけの仕事量をこなせばいいのかわからず、モチベーションが下がりがちになってしまいます。そのため、スプリントプランニングは欠かさず行なうべきです。
        </div>
        <li>Q. デイリースクラムをやらなかった場合、どういった問題が起きますか？</li>
        <div class="card card-body">
        A. デイリースクラムをしないことにより、開発メンバーがどれだけの進捗をだしたのかが把握できず、逐一確認を個人で取らなくてはいけなくなり、効率が悪くなってしまいます。デイリースクラムは欠かさず行なうべきです。
        </div>
        <li>Q. スプリントレビューをやらなかった場合、どういった問題が起きますか？</li>
        <div class="card card-body">
        A. スプリントレビューをしないことにより、致命的なバグの発見が遅れてしまいます。また、スプリントレビューをすることで、ユーザー視点のレビューを得られるため、プロダクトの優先順位が決まりやすくなります。したがって、スプリントレビューは欠かさず行なうべきです。
        </div>
        <li>Q. スプリントレトロスペクティブをやらなかった場合、どういった問題が起きますか？</li>
        <div class="card card-body">
        A. スプリントレトロスペクティブをしないことにより、開発における小さい不満を吐き出す機会がなくなってしまいます。その不満の改善していくためにも、また、次のスプリントをより良いスプリントにしていくためにも、スプリントレトロスペクティブは行なうべきです。
        </div>
        </ul>
    </div>
    <div id="side" class="col-md-3">
        <%= image_tag "footer.png",id: "footer-img" %>
    </div>
</div>

</div>