<div id="grid_system" class="container-fluid p-0">
  <div class="row">
    <div class="side col-md-3">
    </div>
    <div id="tool" class="col-md-6">
        <h1>関連ツールの紹介</h1>
        <p class="tool-item">スクラムやスクラムマスターについて</p>
        <p class="tool-examole">1. <a href="https://www.scrumguides.org/docs/scrumguide/v2017/2017-Scrum-Guide-Japanese.pdf">スクラムガイド </a><br>スクラムについてまとめられた公式のガイドです。</p>
        <p class="tool-examole">2. <a href="https://www.amazon.co.jp/SCRUM-BOOT-CAMP-BOOK-西村/dp/4798129712/ref=sr_1_1?adgrpid=53028226013&gclid=Cj0KCQiA89zvBRDoARIsAOIePbBs4NOipQgqso57ztS979YO_2PPrBvZ596dQTP9LekfJHl5jZ8Z_icaAouZEALw_wcB&hvadid=338518880331&hvdev=c&hvlocphy=1009798&hvnetw=g&hvpos=1t1&hvqmt=b&hvrand=8943475423189815854&hvtargid=kwd-333817463509&hydadcr=27298_11561625&jp-ad-ap=0&keywords=scrum+boot+camp+the+book&qid=1576545468&sr=8-1">SCRUM BOOT CAMP THE BOOK </a>スクラムについての実践的なアドバイスが豊富に掲載されています。<br></p>
        <p><p class="tool-item">プロダクトバックログやタスクの管理をするなら</p>
        <p class="tool-examole">1. <a href="https://trello.com">Trello</a><br>導入するコストが低く初心者でも簡単に管理できます。</p>
        <p class="tool-examole">2. <a href="https://github.com/">GitHubのプロジェクトボード</a><br>GitHubと連携して(PullRequestやissuesの追加など)管理できます。</p>
        </p>
        <p>
        <p class="tool-item">メンバーの気分を可視化したいなら</p>
        <p class="tool-examole">1. <a href="https://sites.google.com/view/niko-niko-calendar/home/ja">ニコニコカレンダー</a><br>3種類のマークで今日の気持ちを表現します。スクラムマスターはニコニコカレンダーでメンバーの気持ちを見る事ができます。</p>
        <p>
        </p>
    </div>
    <div class="side col-md-3">
      <%= image_tag "footer.png",class: "footer-img" %>
      <%= image_tag "hukidasi.png",class: "footer-msg" %>
      <p class="default-msg"id="msg-txt">僕、スクラムくん!!</p>
    </div>
  </div>
</div>