<div id="grid_system" class="container-fluid p-0">
  <div class="row">
    <div class="side col-md-3">
    </div>
    <div id="tool" class="col-md-6">
        
    </div>
    <div class="side col-md-3">
      <%= image_tag "footer.png",class: "footer-img" %>
      <%= image_tag "hukidasi.png",class: "footer-msg" %>
      <p class="default-msg"id="msg-txt">僕、スクラムくん!!</p>
    </div>
  </div>
</div>