<div id="top">
<%= image_tag "logo.png",class: "logo-img" %><br>
<a class="btn btn-outline-light" href="/sukuram_master" role="button">スクラムマスターとは？</a>
<a class="btn btn-outline-light" href="/home" role="button">ステップの管理へ</a>

</div>