<div id="top">
<%= image_tag "logo.png",class: "logo-img" %><br>
<a class="butto" id="toha-button" href="/sukuram_master" role="button">スクラムマスターとは？</a>
<a class="butto" id="ste-button" href="/home" role="button">ステップの管理へ</a>

</div>