/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

 * {
    margin: auto;
    padding: auto;
}

body { 
    font-size:100%; 
    .notice {
        background-color: #3cb371;
        text-align: center;
        color: #ffffff;
        height: 1.5em;
      }
      
      .alert {
        background-color: #ff6347;
        text-align: center;
        color: #ffffff;
        margin: 0;
        padding: 0;
        height: 1.5em;
      }
}

header{
    font-size: 1.5em;
    display: flex;
    width: 100vw;
    height: 10vw;
    z-index: 10;
    background-color: #426E86;
    border-bottom: solid 1em #f9ba32;

    .header-itmes{
        color:#ffffff;
        margin-left: 1vw;
    }

    #header-img{
        margin: 0;
        padding-bottom: 1em;
        width: 40vw;
        height: 10vw;
    }

    #header-right{
        margin-right: 1vw;
        margin-bottom: 0;
        // padding-left: 10vw;
    }
}


#grid_system{
    .side{
        background: #eeeeee;
        height: 400vh;
    }
    .footer-img{
        width: 13vw;
        height: 20vw;
        position: fixed;
        bottom: 1vw;
        right: 2vw;
    }
    .footer-msg{
        width: 22vw;
        height: 8vw;
        position: fixed;
        bottom: 21vw;
        right: 2.5vw;

    }
    .default-msg{
        font-size: 1.3vw;
        position: fixed;
        bottom: 23.5vw;
        right: 8.5vw;
    }

    .hello-msg{
        font-size:0;
    }
    .hello-msg:before {
        font-size: 1.3vw;
        position: fixed;
        bottom: 24.5vw;
        right: 11vw;

        content: "こんniちは!!!";
    }

    .haraheri-msg{
        font-size:0;
    }
    .haraheri-msg:before {
        font-size: 1.3vw;
        position: fixed;
        bottom: 24.5vw;
        right: 9vw;

        content: "お腹すいてない？";
    }

    .daijoubu-msg{
        font-size:0;
    }
    .daijoubu-msg:before {
        font-size: 1.3vw;
        position: fixed;
        bottom: 24.5vw;
        right: 11vw;

        content: "元気してる？";
    }

    .col-md-6{
        margin: 3vh 0vh 0vh 0vh;
    }
}
