#micropost-div {
    // text-align: center;
    // .micropost {
    //     display: flex;
    // }
    .micropost-a {
        color: #414141;
        text-decoration: none;
    }
    .micropost-a:hover {
        color: #333333;
        text-decoration: underline;
    }
    #side{
        background: #eeeeee;
        height: 130vh;
    }
    #footer-img{
        width: 13vw;
        height: 20vw;
        position: fixed;
        bottom: 1vw;
        right: 2vw;
        z-index: 10;
    }
    .col-md-6{
        margin: 3vh 0vh 0vh 0vh;
    }
    #Username{
        background-color: rgba(192, 196, 199, 0.603);
        font-size: 1.2em;
    }
    #sendTime{
        font-size: 0.8em;
    }
}

footer{
    position: relative;
    width: 100vw;
    height: 8vw;
    position: fixed;
    bottom: 0vw;
    background-color: rgba(192, 196, 199, 0.603);
    #micropost-form{
        position: absolute;
        top: 50%;
        margin-top: -0.7em;
        left: 50%;
        margin-left: -7em;
    }
}