.micropost-div {
    h1 {
        color: #214355;
    }
    .micropost-a {
        color: #414141;
        text-decoration: none;
        font-size: 1.3em;
    }
    .micropost-a:hover {
        color: #333333;
        text-decoration: underline;
    }
    .Username{
        background-color: #AECADB;
        font-size: 1.2em;
    }
    .sendTime{
        font-size: 0.8em;
    }
}

footer{
    position: relative;
    width: 49vw;
    height: 8vw;
    position: fixed;
    bottom: 0vw;
    background-color: rgba(192, 196, 199, 0.603);
    #micropost-form{
        position: absolute;
        top: 50%;
        margin-top: -0.7em;
        left: 50%;
        margin-left: -7em;
    }
}