#tool{
    h1{
      padding-top: 10vh;
      text-align:center;
      font-weight: bold;
      padding-bottom: 5vh;
    }
    p{
      padding-top:2vh;
      font-size: 1.3em;
    }
    p.tool-item{
      color:#96138b;
      font-weight: bold;
    }
    p.tool-example{
      padding-left:3vw;
    }
}