#tool{
    h1{
      text-align:center;
      padding-bottom: 5vh;
      color: #214355;
    }
    p{
      padding-top: 2vh;
      font-size: 1.3em;
    }
    p.tool-item{
      color:#165E83;
      font-weight: bold;
    }
    p.tool-example{
      padding-left: 3vw;
    }
}