#top{
    padding-top: 20vh;
    text-align: center;
    background-color: #426E86;
    height: 100vh;

    .butto {
        margin-right: 3vw;
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        font-size: 2em;
        line-height: 2em;
      }
      .butto:hover {
        background-color: rgba(255, 255, 255, .2);
      }

}
#sukuram_master{
  text-align: center;
  background-color: #ffffff;
  height: 100vh;
}