#top{
    padding-top: 10vh;
    text-align: center;
    background-color: #426E86;
    height: 75vh;
    .logo-img{
      height:40vh;
    }
    .btn {
      font-size: 1.5em;
      font-weight: 700;
      border: 3px solid #fff;
    }
    .btn:hover{
      color:#426E86;
    }
    .butto {
        margin-right: 3vw;
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        font-size: 2em;
        line-height: 2em;
      }
    #ste-button{
      margin-left: 2vw;
    }


}

.sample {
  color: #55595c;
  display: flex;
  justify-content: center;
}

.sample .item {
  width:20vw;
  flex: none;
  margin: 4em;
  text-align: center;
}
.icon-title{
  font-size: 1.2em;
  font-weight: bold;
}
.icon-ditail{
  text-align: left;
}

.icon-img{
  width: 10vw;
  height: 10vw;
}


#sukuram_master{
  color: #55595c;
  clear: both;
  background-color: #ffffff;
  height: 100vh;
  padding-right: 20vw;
  padding-left: 20vw;
  h1{
    padding-top: 10vh;
    text-align:center;
    padding-bottom: 5vh;
  }
  p{
    padding-top:2vh;
    font-size: 1.3em;
  }
  p.sukuram-item{
    color:#96138b;
    font-weight: bold;
  }
  p.sukuram-example{
    padding-left:3vw;
  }
}