// Place all the styles related to the TopPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sub{
    font-size: 1.5em;
    text-align: center;
}
#button{
    font-size: 1.5em;
}

#watch {
    #timeDisplay{
        font-size: 5em;
    }
    height: 45vh;
    // border-left: solid 15vw #dfdbec;
    // border-right: solid 15vw #dfdbec;
	font-size: 1.3em;
	text-align: center;
    padding-top: 10vh;
}

#memo-form{
    border-width: 1px;
    border-color: #232F3E;
    width: 45vw;
    height: 40vh;
}

#memo-form:focus{
    
    background-color:  #f8f8f8;  /* 背景色 */
    outline: none;
}

.memo-box{
    text-align:center;
}

/*ステップフローのCSS*/
ul.stepflow {
    border: none;
    margin: 1em 0.5em;
    padding: 0;
    list-style: none;
}





.stepflow li {
    position: relative;
    padding: 0 0 1.5em 1.8em;
}
.stepflow>li.bar-white5:before {
    content: "";
    width: 3px;
    display: block;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 5px;
}
.stepflow>li.bar-white:before {
    content: "";
    width: 3px;
    background: #cccccc;
    display: block;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 5px;
}

.stepflow>li.bar-step5:before {
    content: "";
    width: 3px;
    display: block;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 5px;
}

.stepflow>li.bar-black:before {
    content: "";
    width: 3px;
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 5px;
}
.stepflow-white {
    // content: '';
    // display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 3px #232F3E;
}
.stepflow-black {
    content: '';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 3px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

.stepflow-red {
    content: '';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 3px #CC0000;
    background-color: #CC0000;
}

.stepflow_label {
    padding: 3px 0px 8px 0px;
    margin-bottom:8px;
    color: #999999;
    font-size: .8em;
    font-weight: bold;
}
/*ステップフローのCSSここまで*/
#item_title{
    font-size: 1.5em;

}
#item_sub{
    font-size: 1.0em;
}
#item_sankaku{
    font-size: 1.5em;
}


/*スクラムくんのおしゃべり機能*/

.kaihatu-msg{
    font-size:0;
}
.kaihatu-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 5.5vw;

    content: "前回のTryは実践できてる?";
}

.rebyu-msg{
    font-size:0;
}
.rebyu-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 5.5vw;

    content: "プロダクトを公開しよう！";
}

.planning-msg{
    font-size:0;
}
.planning-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 6vw;

    content: "ベロシティを決めよう！";
}


.backlog-msg{
    font-size:0;
}
.backlog-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 6vw;

    content: "リファイメントしよう！";
}


.retoro-msg{
    font-size:0;
}
.retoro-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 5vw;

    content: "みんなで意見を言い合おう！";
}
