// Place all the styles related to the TopPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sub{
    font-size: 1.5em;
    text-align: center;
}
#button{
    font-size: 1.5em;
    text-align: center;
}
#updown-btn{
    display: flex;
    justify-content: center;
}

#down{
    margin-left: 1.5em
}

#watch {

    
    #timeDisplay{
        font-size: 5em;
    }
    #watch_button{
        margin-top: 1em;
        margin-bottom: 2em;
    }
    #stop_button{
        margin-left: 0.5em;
    }
    #reset_button{
        margin-left: 0.5em;
    }
    height: 400px;
    // border-left: solid 15vw #dfdbec;
    // border-right: solid 15vw #dfdbec;
	font-size: 1.3em;
	text-align: center;
    padding-top: 10vh;
}

#sprint_label{
    padding-top:1vh;
    font-size: 1em;
    text-align: center;
}

#sprint_bar{
    margin-left: 2vw;
    height: 1.5vh;
    width: 20vw;
}

#memo-form{
    border-width: 1px;
    border-color: #a9a9a9;
    width: 45vw;
    height: 40vw;
}

#memo-form:focus{
    background-color:  #f1f5fa;  /* 背景色 */
    outline: none;
}
.memo-box{
    text-align:center;
}

/*ステップフローのCSS*/
ul.stepflow {
    border: none;
    margin: 1em 0.5em;
    padding: 0;
    list-style: none;
}





.stepflow li {
    position: relative;
    padding: 0 0 1.5em 1.8em;
}
.stepflow>li.bar-white5:before {
    content: "";
    width: 3px;
    display: block;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 5px;
}
.stepflow>li.bar-white:before {
    content: "";
    width: 3px;
    background: #cccccc;
    display: block;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 5px;
}

.stepflow>li.bar-step5:before {
    content: "";
    width: 3px;
    display: block;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 5px;
}

.stepflow>li.bar-black:before {
    content: "";
    width: 3px;
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 5px;
}
.stepflow-white {
    // content: '';
    // display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 3px #232F3E;
}
.stepflow-black {
    content: '';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 3px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

.stepflow-red {
    content: '';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 3px #CC0000;
    background-color: #CC0000;
}

.stepflow_label {
    padding: 3px 0px 8px 0px;
    margin-bottom:8px;
    color: #999999;
    font-size: .8em;
    font-weight: bold;
}
/*ステップフローのCSSここまで*/
#item_title{
    font-size: 1.5em;

}
#item_sub{
    font-size: 1.0em;
}
#item_sankaku{
    font-size: 1.5em;
}


/*スクラムくんのおしゃべり機能*/

.kaihatu-msg{
    font-size:0;
}
.kaihatu-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 5.5vw;

    content: "前回のTryは実践できてる?";
}

.rebyu-msg{
    font-size:0;
}
.rebyu-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 5.5vw;

    content: "プロダクトを公開しよう！";
}

.planning-msg{
    font-size:0;
}
.planning-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 5vw;

    content: "タスクは明確になっている？";
}


.backlog-msg{
    font-size:0;
}
.backlog-msg:before {
    font-size: 1.2vw;
    position: fixed;
    bottom: 24.5vw;
    right: 6vw;

    content: "みんな活発に発言している？";
}


.retoro-msg{
    font-size:0;
}
.retoro-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 5vw;

    content: "みんなで意見を言い合おう！";
}


.rarely-kaihatu-msg{
    font-size:0;
}
.rarely-kaihatu-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 5.5vw;

    content: "開発で困っている人はいない？";
}

.rarely-rebyu-msg{
    font-size:0;
}
.rarely-rebyu-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 5vw;

    content: "本当に価値は最大化されてる？";
}

.rarely-planning-msg{
    font-size:0;
}
.rarely-planning-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 5vw;

    content: "スプリントゴールは明確になっている？";
}

.rarely-retoro-msg{
    font-size:0;
}
.rarely-retoro-msg:before {
    font-size: 1.3vw;
    position: fixed;
    bottom: 24.5vw;
    right: 5vw;

    content: "今の振り返りに飽きてない？";
}
